#book-list-conteiner {
  margin-bottom: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
}

@media screen and (min-width: 436px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
}
