#book-list-filter-conteiner {
  margin-bottom: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.filters-conteiner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.filters-items-conteiner {
  display: flex;
  flex-direction: row;
}

.book-list {
  padding: 0;
  gap: 15px;
}

.filter-read-list,
.filter-alf-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.filter-read-list p,
.filter-alf-list p {
  font-size: larger;
}

.filter-read-list select,
.filter-alf-list select {
  width: 60px;
  height: 30px;
  font-size: large;
}

.search-book-name {
  padding: 5px 5px 5px 10px;
  border: 3px solid #3c5617;
  border-radius: 10px;
  background-color: #9a9e7f;
  margin: 10px 0 5px 0;
  font-size: large;
  transition: all 0.5s ease;
}
.search-book-name:hover,
.search-book-name:focus {
  border: 3px solid #9a9e7f;
  background-color: #c4ca98;
}

.clear-filtrs-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding: 8px 0;
  width: 180px;
  font-size: large;
  border: 3px solid #3c5617;
  border-radius: 6px;
  background-color: #d69b4c;
  transition: all 0.5s ease;
}
.clear-filtrs-btn:hover,
.clear-filtrs-btn:focus {
  background-color: #c76c1f;
  border: 3px solid #9a9e7f;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .book-list {
    display: flex;
    flex-direction: column;
  }

  .filters-items-conteiner {
    gap: 20px;
  }

  .filter-read-list,
  .filter-alf-list {
    display: flex;
    flex-direction: column;
  }

  .search-book-name {
    width: 200px;
  }
}

@media screen and (min-width: 436px) and (max-width: 768px) {
  #book-list-filter-conteiner {
    padding: 20px;
  }

  .book-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 470px;
  }

  .filters-items-conteiner {
    gap: 30px;
  }

  .search-book-name {
    width: 300px;
  }
}

@media screen and (min-width: 769px) {
  #book-list-filter-conteiner {
    padding: 30px;
  }

  .book-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .filters-items-conteiner {
    gap: 40px;
  }

  .search-book-name {
    width: 300px;
  }
}
