.item-card {
  list-style: none;
  border: 3px solid #3c5617;
  border-radius: 8px;
  padding: 10px;
  background-color: #9a9e7f;
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: larger;
  margin: 0 0 auto auto;
}

.item-card img {
  width: 120px;
  height: 160px;
  border-radius: 4px;
}

.items-btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto auto 0 auto;
}

.checked-read {
  width: 30px;
  height: 30px;
}

.item-card button {
  margin: auto auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding: 5px 15px;
  font-size: large;
  border: 3px solid #3c5617;
  border-radius: 6px;
  background-color: #d69b4c;
  transition: all 0.5s ease;
}
.item-card button:hover,
.item-card button:focus {
  background-color: #c76c1f;
  border: 3px solid #9a9e7f;
}
